@use 'layout';
@use "variables";

body {
    color: variables.$dark-blue;
    font-family: variables.$font-main;
    font-size: variables.$font-size_main;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 375px;
}

.testimonial_job {
    color: variables.$grayish-blue;
}

.active {
    height: auto;
    opacity: 1;
}